/**************************************** Small Sreen ****************************************/
@media (max-width: 600px) {
  * {
    font-size: 12px;
  }


  /* home page */

  .header-left img {
    width: 18vw;
  }


  .header-nav{
    display: none; 
  }

  .header-container .toggle:hover,
  .header-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left:0px;
    width: 100%;
    padding: 1rem;
    background-color: black;
    cursor: pointer;
  
  }


  .header-right .seacrhRecp {
    width: 60vw;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    outline: none;
}

  .hero-container {
    height: 105vh;
    flex-direction: column;
    align-items: center;
  }

  .hero-content {
    width: 100%;
    align-items: center;
    padding: 5rem 3rem 3rem;
    line-height: 5rem;
  }

  .hero-content-title span {
    font-size: 2rem;
  }

  .hero-content-desc {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 61vw;
    text-align: center;
  }

  .hero-btn {
    width: 35vw;
    height: 9vh;
    font-size: 1.8rem;
  }

  .hero-img img {
    width: 50vw;
    padding: 1rem;
  }

  .features-container {
    height: 406vh;
  }

  .features-title {
    text-align: center;
    line-height: 1.3rem;
  }

  .features-title h1 {
    font-size: 3rem;
    line-height: 7rem;
  }
  .features-title span {
    font-size: 3rem;
  }

  .features-subtitle {
    font-size: 1.6rem;
  }

  .features-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .features-content-item {
    width: 80%;
    height: 46rem;
}

  .features-content-item h3 {
    font-size: 2rem;
  }

  .features-content-item-des p {
    padding: 1.5rem;
    color: rgb(125 119 119);
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .features-rating i,
  span {
    font-size: 1.5rem;
  }


  .features-ViewMore p {
    padding: 2rem 6rem;
    font-size: 2rem;
}

.features-ViewMore i{
  font-size: 2rem;
  padding: 2rem 0.5rem;
}


  .MostCategory-container {
       height: 120vh;
  }

  .MostCategory-title h1 {
    font-size: 3rem;
  }

  .MostCategory-title span {
    font-size: 3rem;
  }

  .MostCategory-content {
    width: 100%;
    flex-wrap: wrap;
    gap: 4rem;
  }
  .MostCategory-content-item {
    width: 29%;
  }

  .MostCategory-content-item img {
    width: 27vw;
  }

  .MostCategory-content-item p {
    font-size: 2rem;
  }

  .footer-container {
    height: 63vh;
  }

  .footer-top {
    width: 50vw;
  }

  .footer-top img {
    width: 21vw;
  }

  .footer-top p {
    font-size: 1.3rem;
  }

  .footer-socialmedia img {
    width: 12vw;
    padding-left: 2rem;
  }
  .footer-nav {
    width: 58vw;
  }

  .footer-nav a {
    font-size: 1.4rem;
  }

  .footer-bottom {
    padding-top: 2rem;
  }

  .footer-bottom p {
    font-size: 1.2rem;
  }
  .footer-bottom-right {
    gap: 0.8rem;
  }

  /* List Page */

  .Cat-container {
    margin-top: 1rem;
}

.Category-container {
  gap: 0rem;
  width: 74vw;
}

.category-item {
  
  width: 75%;
}

.category-item img {
  width: 22vw;
  top: -6.6rem;
  left: 13.3rem;
 
}

.category-card-container {
  height: 259vh;
}

.category-card-items {
  gap: 10rem;
  height: 362vh;
  
}

.category-card-container {
    height: 377vh;
}

.category-viewmore P {
  padding: 2rem 7rem;

}

  /* Details Page */
  .details-hero {
    height: 41vh;
    
}

.details-hero img {
  width: 32%;
}

.details-recipe-title::after {
  left: 8rem;
}

.details-ingredients {
  padding: 1rem 0 0 8rem;
}

.details-ingredients::after {
  left: 8rem;
  
}

.details-instructions {
  padding: 1rem 0 0 8rem;
  height: 56vh;
}

.dot {

  height: 7px;
  width: 7px;
 
}

.details-printrecipe {
  
  height: 24vh;
}

.Print-recipe {
  
  width: 29vw;
  height: 9vh;
  
}

/* Submit Page */


.Submit-container {

  gap: 3rem;
}

.Submit-container h1 {
 
  margin-top: 3rem;
  font-size: 2.2rem;
}

.Submit-container h1 span {
  font-size: 2rem;
  
}



.submit-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.submit-content-left {
  width: 100%;
  height: 44vh;
}

.submit-content-left-top {
  
  width: 50%;
  
}

.submit-content-left-bottom {
 
  width: 50%;
  
}

.submit-preptime form, .submit-cooktime form {
  height: 10vh;
}

.submit-content-right {
  width: 77%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-details-form {
 
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.recipe-details-form form {
  justify-content: space-evenly;
  gap: 1rem;
}

.submit-recipe button {
  width: 31vw;
  height: 4rem;
}





}

/************************************************** Tablet Screen **************************************/

@media (min-width: 601px) and (max-width: 900px) {

  /* home page */
  .header-left img {
    width: 18vw;
  }

  .header-nav nav a {
    font-size: 1.2rem;
  }

  .hero-container {
    height: 67vh;
  }

  .hero-btn {
    width: 16vw;
  }

  .features-container {
    height: 133vh;
  }

  .features-content-item {
    width: 29vw;
    height: 24rem;
  }
 

  .features-ViewMore p {
    padding: 1.2rem;
    text-align: right;
}

  .MostCategory-container {
    height: 58vh;
  }

  .MostCategory-title {
    padding-bottom: 3rem;
  }
  .MostCategory-content-item p {
    font-size: 1.3rem;
  }
  .footer-container {
    height: 74vh;
  }
  .footer-top {
    width: 50vw;
  }

  .footer-top img {
    width: 15vw;
  }
  .footer-top p {
    font-size: 1.2rem;
  }
  .footer-socialmedia img {
    width: 6.5vw;
  }
  .footer-nav {
    width: 52vw;
  }
  .footer-nav a {
    font-size: 1.2rem;
  }
  .footer-bottom p {
    font-size: 1.2rem;
  }
  .footer-bottom-right {
    gap: 1rem;
  }

  /* list Page */

  .Cat-container {
    margin-top: 1rem;
    height: 43vh;
}

.Category-container {
  gap: 0rem;
  width: 70vw;
  height: 9vh;
}

.category-card-container{
  height: 234vh;
 
}




.category-card-items {
  height: 203vh;
  justify-content: center;
  gap: 7rem;
}

.category-item {
  
  width: 39%;
  height: 53vh;
}

.category-item img {
  width: 14vw;
 


}

.category-viewmore P{
  padding: 2rem;
 
}

/* details page */

.details-recipe-title {
  height: 31vh;
  
}


.details-recipe-title::after {
  left: 10rem;
  
}

.details-ingredients {
  padding: 1rem 0 0 10rem;
}

.details-ingredients::after {
 
  left: 10rem;
 
}

.details-instructions {
  padding: 1rem 0 0 10rem;
 
}


.details-instructions {

  height: 70vh;
}

.details-instructions-content p {
  color: rgba(29, 29, 27, 0.788);
  line-height: 3rem;
}

.Print-recipe {
  width: 24vw;
  height: 11vh;
  
}


/* Submit page */

.Submit-container {

  gap: 3rem;
}

.Submit-container h1 {
 
  margin-top: 3rem;
  font-size: 2.2rem;
}



.submit-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.submit-content-left {
  width: 100%;
  height: 44vh;
}

.submit-content-left-top {
  
  width: 50%;
  
}

.submit-content-left-bottom {
 
  width: 50%;
  
}

.submit-preptime form, .submit-cooktime form {
  height: 10vh;
}

.submit-content-right {
  width: 77%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-details-form {
 
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.recipe-details-form form {
  justify-content: space-evenly;
  gap: 1rem;
}

.submit-recipe button {
  width: 26vw;
  height: 4rem;
}

}






@media (min-width: 601px) {
  .header-container .toggle {
    display: none;
  }
}
