@media (max-width: 600px) {
  /* home page */

  .header-left img {
    width: 23vw;
  }
  .Submit-container h1 span {
    font-size: 2rem;
  }
  .submit-content {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: black;
  }

  .header .header-right .seacrhRecp {
    width: 27vw;
    height: 5vh;
    outline: 0;
  }

  .hero-container {
    height: 80vh;
    flex-direction: column;
    align-items: center;
  }
  .recipe-details-form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .recipe-details-form form {
    justify-content: space-evenly;
    gap: 1rem;
  }
  .submit-recipe button {
    width: 31vw;
    height: 4rem;
  }

  .hero-btn {
    width: 35vw;
    height: 6vh;
    font-size: 1.8rem;
  }

  .Submit-container {
    gap: 3rem;
  }

  .features-container {
    height: 244vh;
  }

  .features-title {
    text-align: center;
    line-height: 1.5rem;
  }

  .features-title h1 {
    font-size: 3rem;
    line-height: 7rem;
  }
  .features-title span {
    font-size: 3rem;
  }

  .features-subtitle {
    font-size: 1.6rem;
  }

  .features-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .features-content-item {
    width: 60%;
    height: 64vh;
  }

  .features-content-item h3 {
    font-size: 2rem;
  }

  .features-content-item-des p {
    font-size: 1.2rem;
    padding: 1.5rem;
    color: rgb(125 119 119);
  }

  .features-rating i,
  span {
    font-size: 1.5rem;
  }

  .features-ViewMore p {
    padding: 2rem 10rem;
  }

  .MostCategory-container {
    height: 92vh;
  }

  .MostCategory-title h1 {
    font-size: 3rem;
  }

  .MostCategory-title span {
    font-size: 3rem;
  }

  .MostCategory-content {
    width: 100%;
    flex-wrap: wrap;
    gap: 4rem;
  }
  .submit-content-left {
    width: 100%;
    height: 44vh;
  }
  .submit-content-left-top {
    width: 50%;
  }
  .submit-content-left-bottom {
    width: 50%;
  }

  .footer-container {
    height: 47vh;
  }
  .submit-content-right {
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .recipe-details-form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .recipe-details-form form {
    justify-content: space-evenly;
    gap: 1rem;
  }
  .submit-recipe button {
    width: 26vw;
    height: 4rem;
  }



  .footer-bottom p {
    font-size: 1.2rem;
  }
  .footer-bottom-right {
    gap: 0.8rem;
  }
}

/* Tablet Screen */

@media (min-width: 600px) and (max-width: 900px) {
  .header-left img {
    width: 18vw;
  }

  .header-nav nav a {
    font-size: 1.2rem;
  }

  .hero-container {
    height: 59vh;
  }

  .hero-btn {
    width: 16vw;
  }

  .features-container {
    height: 103vh;
  }

  .features-content-item {
    width: 29vw;
    height: 57vh;
  }
  .features-ViewMore p {
    padding-top: 3rem;
    text-align: center;
  }

  .MostCategory-container {
    height: 43vh;
  }

  .MostCategory-title {
    padding-bottom: 3rem;
  }
  .MostCategory-content-item p {
    font-size: 1.3rem;
  }
  .footer-container {
    height: 57vh;
  }
  .footer-top {
    width: 50vw;
  }

  .footer-top img {
    width: 15vw;
  }
  .footer-top p {
    font-size: 1.2rem;
  }
  .footer-socialmedia img {
    width: 6.5vw;
  }
  .footer-nav {
    width: 52vw;
  }
  .footer-nav a {
    font-size: 1.2rem;
  }
  .footer-bottom p {
    font-size: 1.2rem;
  }
  .footer-bottom-right {
    gap: 1rem;
  }
}

