* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Satisfy', cursive; ;
    /* font-family: 'Cairo', sans-serif; */
}

/**************************************************** Start Header ******************************************************/
.header-container{
    width:100%;
    height: 12vh;
    background-color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
     justify-content: space-between;
    align-items: center;  
    padding:2rem;
    
}

 .header-left img{
    width: 12vw;
    padding:1rem;
    
}

.header-nav  {
    display: flex;
    gap: 63px;
    
}

.header-nav nav a{
    font-size:1.3rem;
    color:white;
}

.header-right .seacrhRecp{
    width:16vw;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size:1rem;

}

.header-right .favouite{
    padding: 1rem;
} 
